<ul class="pagination">
    <li {% if not previous_page %}class="disabled" {% endif %}>
        <a href="/blog/{{ previous_page }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li><a href="/blog/1">首页</a></li>
    <li class="disabled"><a href="#">...</a></li>
    {% for page in page_list %}
        {% if page == current_page %}
            <li class="active"><a href="/blog/{{ page }}">{{ page }}</a></li>
        {% else %}
            <li><a href="/blog/{{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="/blog/{{ end_page }}">尾页</a></li>
    <li {% if not next_page %}class="disabled" {% endif %}>
        <a href="/blog/{{ next_page }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>