{% extends 'blog/base.html' %}
{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="row"></div>
        <div class="border-rad col-md-8">
            <div>
                <span class="inline right-float date-grey">{{ article.revised_date |date:'Y年m月j日 H:i'}}</span>
                <h2>{{ article.title }}</h2>
                <h5><a href="{{ article.author.id }}">{{ article.author }}</a></h5>
                <hr>
                <p>{{ article.content }}</p>
                {% include "blog/plug_in/_reply.html" %}
                <hr/>
            </div>
        </div>
        {% load blog_extra %}
        {% new_reg %}
    </div>
{% endblock %}