{% extends 'blog/base.html' %}
{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="row"></div>
        <div class="border-rad col-md-8">
            <div>
                <h2>{{ article_type.display }}</h2>
                <hr>
                {% if articles %}
                    {% for article in articles %}
                        <span class="label label-info inline right-float">
                            <a href="/blog/profile/{{ article.author.id }}" class="none">
                                {{ article.author.user.username }}
                            </a>
                        </span>
                        <h4><a href="/blog/article/{{ article.id }}/">{{ article.title }}</a></h4>
                        <p>{{ article.summary }}</p>
                        {% include "blog/plug_in/_reply.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% load blog_extra %}
        {% new_reg %}
    </div>
{% endblock %}