body{
    background: url("../image/bodyBackground.jpg");
}
.theme-showcase{
    display: block;
    margin-top: 80px;
}
.border-rad{
    border-radius: 6px;
    background-color: white;
}
.margin-buttom{
    margin-bottom: 20px;
}
.margin-left{
    margin-left: 10%;
}
span.margin-left{
    margin-left: 10px;

}

a.none{
    text-decoration-line: none;
}
a.white{
    color: white;
}
a.none:visited{
    color: white;
    text-decoration: none;
}
a.none:hover{
    color: white;
    text-decoration: none;
}
.inline{
    display: inline-block;
}
.right-float{
    float: right;
}
.date-grey{
    font-size: 10px;
    color: gray;
}
ul,li{
    list-style-type: none;
}
.img-small {
    height: 30px;
    display: inline-block;
    margin-top: 10px;
}
.img-normal{
    margin-left: auto;
    height: 45px;
    width: 45px;
    display: inline-block;
}
div.profile{
    width: 45px;
    text-align: center;
}
div.profile>p{
    font-size: smaller;
}
.registered{
    width: 50px;
    height: 60px;
    display: inline-block;
    float: left;
    margin: 8px;
}
.registered p{
    width: 30px;
    text-align: center;
    font-size: smaller;
}
hr.reply{
    margin: 1px;

}
div.surround{
    border: 1px #b9def0 solid;
    padding: 10px;
}
.nav>li>a.clear-pad{
    padding: 5px;
}
button.none{
    border: none;
    background: none;
}
p.bar{
    margin-top: -10px;
}
div.message{
    position: relative;
}
span.bottom{
    position: absolute;
    bottom: 10px;
    right: 3px;
}
