{% extends 'blog/base.html' %}
{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="row"></div>
        <div class="border-rad col-md-8">
            <div>
                <h2>最新文章</h2>
                <hr>
                {% if articles %}
                    {% for article in articles %}
                        <span class="label label-primary inline right-float">
                            <a href="/blog/atype/{{ article.article_type.slug}}/" class="none">
                                {{ article.article_type.display }}
                            </a>
                        </span>
                        <h4><a href="/blog/article/{{ article.id }}/">{{ article.title }}</a></h4>

                        <p>{{ article.summary }}</p>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation"><a href="#">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="badge">{{ article.favor_count }}</span></a></li>
                            <li role="presentation"><a href="#">回复<span class="badge">{{ article.reply_count }}</span></a></li>
                            <span class="inline right-float date-grey">{{ article.revised_date |date:'Y年m月j日 H:i'}}</span>
                        </ul>
                        <hr/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="border-rad col-md-offset-1 col-md-3">
            hahahah
        </div>
    </div>
{% endblock %}