{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="container theme-showcase" role="main">
        {% if notice %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>{{ notice }}</strong>
            </div>
        {% endif %}
        <div class="border-rad col-md-8">
            <div>
                <h2>最新文章</h2>
                <hr>
                {% if articles %}
                    {% for article in articles %}
                        <span class="label label-primary inline right-float">
                            <a href="/blog/atype/{{ article.article_type.slug}}/" class="none white">
                                {{ article.article_type.display }}
                            </a>
                        </span>
                        <h4><a href="/blog/article/{{ article.id }}/">{{ article.title }}</a></h4>

                        <p>{{ article.summary }}</p>
                        {% include "blog/plug_in/_reply.html" %}
                    {% endfor %}
                {% endif %}
                <nav>
                    {% include 'blog/plug_in/_page.html' %}
                </nav>
            </div>
        </div>
        {% load blog_extra %}
        {% new_reg %}
    </div>
{% endblock %}